tgs-salt-identification-challenge/
content/
.ipynb_checkpoints/
__pycache__/
checkpoints/
.~TGSSeismic.ipynb
*.zip
model.png
depths.csv
sample_submission.csv
train.csv
test.zip
train.zip
model-*.*
submiss*.*
*.npy
